.main-content .problem-type-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
  height: fit-content;
  background-color: #fff;
  margin-top: 10px;
  padding: 15px;
  padding-bottom: 30px;
}

.problem-type-container h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #111;
}

.dropdown-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 30px;
  cursor: pointer;
}

.dropdown .selected {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  font-size: 1.1rem;
  font-weight: 500;
}

.dropdown .triangle {
  position: absolute;
  right: 10px;
  width: 30px;
  margin-left: 10px;
  transition: transform 0.5s;
}

.dropdown.active .triangle {
  transform: rotate(180deg);
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  z-index: 1;
  overflow: hidden;
}

.dropdown-menu.active {
  display: block;
}

.dropdown-menu div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.dropdown-menu div:hover {
  background: #f0f0f0;
}

.dropdown-multi {
  position: relative;
  display: inline-block;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 6.5px;
  cursor: pointer;
}

.dropdown-multi .selected-multi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-multi .searchIcon {
  width: 30px;
  margin-left: 10px;
  transition: transform 0.3s;
}

.dropdown-multi-menu {
  display: none;
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-height: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  z-index: 1;
  overflow-y: auto;
}

.dropdown-multi-menu.active {
  display: block;
}

.dropdown-multi-menu div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.dropdown-multi-menu div:hover {
  background: #f0f0f0;
}

.dropdown-multi-menu .selected-item-bg {
  background: #d0e0ff;
}

.selected-items-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  min-height: 32px;
}

.selected-item {
  display: inline-block;
  border-radius: 4px;
  padding: 2px 6px;
  margin: 2px;
  position: relative;
}

.selected-item .remove {
  width: 16px;
  height: 16px;
  margin-left: 4px;
  cursor: pointer;
  background-color: #999;
  border-radius: 50%;
}

.search-box {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.passage-flow-input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
  height: fit-content;
  background-color: #fff;
  padding: 15px;
}

.passage-flow-input-container h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #111;
}

.passage-flow-input-container textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: none;
  font-size: 0.9rem;
  background-color: #fff;
  word-break: break-all;
  overflow-y: auto;
}

.passage-flow-input-container .passage-create-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.passage-flow-input-container .passage-create-button-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 4px;
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.passage-flow-input-container .passage-create-button-container button:hover {
  background-color: var(--primary-hover-color);
}

.modal-passage-create-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.modal-passage-create-overlay.fade-out {
  animation: fadeOut 0.3s forwards;
}

.modal-passage-create-overlay .modal-passage-create-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  height: 140px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  animation: slideIn 0.3s;
}

.modal-passage-create-overlay
  .modal-passage-create-content
  .modal-passage-create-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 20px;
}

.modal-passage-create-container span {
  font-size: 1rem;
  font-weight: 500;
}

.modal-passage-create-overlay .modal-passage-create-content button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  background-color: #7749f8;
  transition: background-color 0.3s;
}

.modal-passage-create-overlay .modal-passage-create-content button:hover {
  background-color: #5e3cc9;
}
